/* variable decalarations */
:root {
    --primary-bg-color: #1976d2;
    --primary-color: #fff;
}

body {
    width: 100vw;
    height: 100vh;
}
*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}